@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
body
{
    min-height: 100vh;
    background-size: cover;
    background-position: center; 
    overflow-x: hidden;
}

.video-bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    object-position: center;
}



.header
{
    position: relative;
    top: 0; 
    left: 0;
    width: 100%;
    padding: 0.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4),transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #1d263a;
    text-decoration: none;
    font-weight: 700;
}

.navbar a
{
    font-size: 1.15rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check {
    display: none;
}

.icons {
    right: 0;
    position: absolute;
    font-size: 2.8rem;
    color: #000000;
    cursor: pointer;
    display: none;
}


/*NEW*/




/*OOO*/

.parallax
{
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}
#text
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #112434;
}
#text2
{
    position: absolute;
    top:50%;
    transform: translateY(150%);
    font-size: 4em;
    color: #112434;
    font-family: 'Mitr', sans-serif;
}
#eiei
{
    top:50%;
    font-size: 20px;
    color: #112434;
    font-family: 'Mitr', sans-serif;
}

.wrapper {
    position: absolute;
    display: flex;
    width: 90%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.wrapper::before {
    position: absolute;
    content: '';
    height: 250px;
    width: 250px;
    border-radius: 50%;
    right: 10%;
    top: 45%;
    background: linear-gradient(45deg, rgb(41, 37, 90), #94dbd3);
    animation: object1 7s linear infinite;
}
@keyframes  object1{
    50%{
        right: 8%;
        top: 34%;
    }
}

.wrapper::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 5%;
    background: linear-gradient(45deg, rgb(41, 37, 90), #94dbd3);
    animation: object2 5s linear infinite;
}
@keyframes  object2{
    50%{
        left: 38%;
        top: 7%;
    }
}


.cols {
    width: 100%;
}
.cols0{
    width: 1000%;
    z-index: 5;
}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #1d263a;
}

h1 {
    display: block;
    font-size: 5em;
    font-weight: 700;
    color: #35425c;
}

.multiText {
    color: rgb(120, 118, 200);
    text-transform: capitalize;
}

p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #112434;
    font-family: 'Mitr', sans-serif;
}


.sec
{
    position: relative;
    padding: 100px;
    background: #20242d;
}
.sec h2
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: 'Mitr', sans-serif;
}
.sec h3
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p2
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: 'Mitr', sans-serif;  
}



/*Responsive*/



@media screen and (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 820px) {
    .icons {
        display: inline-flex;
    }

    body
    {
    height: 10vh;
    }
    
    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }
    
    
    #check:checked~.icons #close-icon {
        display: block;
    }

    
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(80px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    
    #check:checked~.navbar {
        height: 17.7rem;
    }
    
    
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
        color: #112434;
    }
    
    #check:checked~.navbar a { 
        transform: translateY(0 );
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}



@media screen and (max-width: 1180px) {
    .parallax
    {
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
}
@media screen and (max-width: 1024px){
    .parallax {
        height: 80vh;
        width: 105%;
    }
}
@media screen and (max-width: 820px) {
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 110%;
}
.wrapper::before {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    right: 2%;
    top: 45%;
    background: linear-gradient(45deg, rgb(41, 37, 90), #94dbd3);
    animation: object1 7s linear infinite;
}



}

@media screen and (max-width: 500px) {
    .sec {
        padding: 10%;
    }
    .video-bg
    {
        width: 100%;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 120%;
    }
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 60%;
    }
    .wrapper::before {
        position: absolute;
        content: '';
        height: 150px;
        width: 150px;
        border-radius: 50%;
        right: 2%;
        top: 45%;
        background: linear-gradient(45deg, rgb(41, 37, 90), #94dbd3);
        animation: object1 7s linear infinite;
    }
}
@media screen and (max-width: 428px) {
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 120%;
    }   
}
@media screen and (max-width: 360px) {
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 120%;
    }   
    .wrapper {
        position: relative;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 40%;
    }
    .wrapper::before {
        position: absolute;
        content: '';
        height: 100px;
        width: 100px;
        border-radius: 50%;
        right: 30%;
        top: 45%;
        background: linear-gradient(45deg, rgb(41, 37, 90), #94dbd3);
        animation: object1 7s linear infinite;
    }
    .sec {
        font-size: 70%;
    }
}










