@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,200');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@500&family=Righteous&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    text-decoration: none;
    list-style: none;
}

html
{
    background: linear-gradient(20deg, rgb(46, 46, 46), rgb(17, 17, 17));
}

body
{
    background-size: cover;
    background-position: center;
    height: 100vh;
}
header
{
    width: 80%;
    height: 70px;
    background: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
.logo
{
    width: 120px;
    margin-top: 8px;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(
        -180deg,
        #ffffff 0%,
        #ffffff 69%,
        #000000 100%
      );
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav .logo
{
    display: none;
}
nav ul
{
    display: flex;
}
nav ul li a
{
    color: #fff;
    display: block;
    margin: 0 20px;
    font-weight: 500;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}
nav ul li a:hover
{
    background: #57575774;
}
nav ul li a.active
{
    background: #595959f0;
    color: #fff;
}
.hamberger
{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.hamberger:hover
{
    background: #565656;
}
.hamberger div
{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #ffffff;
}
@media only screen and (max-width: 1100px) 
{
    header
    {
        width: 90%;
        padding: 0 20px;
    }
    nav 
    {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #303030;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(255, 255, 255, 0.1);
    }
    #nav_check:checked ~ nav 
    {
        left: 0;
    }
    nav .logo
    {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a 
    {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }
    nav ul
    {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamberger
    {
        display: block;
    }
}



/* html 
{
    overflow: none;
    height: 120vh;
    width: 100%;
    background: linear-gradient(45deg,#72b2b7,#ffffff,rgb(128, 158, 255));
    background-size: 200% 200%;
    animation: color 4s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150vh;
    width: 100%;
    overflow: hidden;
    z-index: -1000;
}
.line {
    position: absolute;
    width: 2px;
    height: 115vh;
    bottom: 40vh;
    left: 75%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(33deg);
    box-shadow: 2px 2px 2px
    #00000059;
}
.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 50vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgb(167, 255, 226) 0%, #00bcc9 50%, #4b1ffc 100%);
    animation: drop 4s 0s infinite;
    animation-fill-mode: forwards; 
    box-shadow: 1px 2px 4px
    #fc2dcf;
}
.line:nth-child(1) {
    margin-left: -10%;
}
.line:nth-child(1)::after {
    animation-delay: 2s;
}
.line:nth-child(3) {
    margin-left: 10%;
}
.line:nth-child(3)::after {
    animation-delay: 2.5s;
}
@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}





/*SIDEBAR*/




/*OOO*/

.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: -1000;
}
#eiei
{
    top:50%;
    font-size: 20px;
    color: #112434;
    font-family: 'Mitr', sans-serif;
}

.wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 10%;
    left: 10%;
}




.cols {
    width: 100%;
}
.cols0{
    width: 1000%;
    z-index: 5;
}



.heads {
    position: relative;
    text-transform: uppercase;
    display: block;
    font-size: 1.5em;
    font-weight: 900;
    width: 80%;
    background-image: linear-gradient(
        -180deg,
        #ffffff 0%,
        #bebebe 70%,
        #000000 100%
      );
    background-clip: border-box;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 80px;
}

.big 
{
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, -10deg);
}


.text-title
{
    width: 100%;
    color: #ffffff;
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 0.75em;
    text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
     5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
  }
.text-title span {
    display: block;
    position: relative;
    left: 70px;
    font-size: 3rem;
}
.text-title span:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #6c63a7, -1px -1px 1px #c800ff, -2px 2px 1px #0055ff, 1px -1px 1px #ffffff;
    z-index: 1;
    font-family: "Exo 2", sans-serif;
}



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.thai {
    position: relative;
    display: flex;
    width: 90%;
    font-size: 1.2em;
    color: #838383;
    font-family: 'Mitr', sans-serif;
    bottom: 30px;
}



/*----------Animation font before-------------*/


/* body {
  font-family: montserrat;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #000000;
  line-height: 1.5;
  color: #fff;
} */

.bg-text-container
 {
    overflow: hidden;
    transform: translateX(-10%);
  /* left: 30%; */
    position: relative;
    z-index: 999;
    width: 100%;
}
/* animation */
/* @keyframes text-scrolling {
  0% {
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
} */


.animate-text {
    animation: text-scrolling 18s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
    top: 60px;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: transparent;
}
.animate-text.left {
    animation-direction: reverse;
    right: 800px;
    bottom: 765px;
}

.bg-text-container {
    left: 130px;
    /* top:600px; */
    position: relative;
  font-size: 40px;
  /* color: transparent; */
  text-transform: uppercase;
  line-height: 1;
  font-weight: 550;
  will-change: transform;
  height: 800px;
  color: #fff;
  padding: 0;
}


/* 
.sec h2
{
    width: 100%;
    font-size: 3em;
    color: #fff;
}

.sec p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: 'Mitr', sans-serif;
}
.sec h3
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p2
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: 'Mitr', sans-serif;  
} */



/*------------------------------------Responsive--------------------------------------------*/






@media screen and (max-width: 1600px) {
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.7em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 90px;
        bottom: 15px;
    }
        .thai
        {
            top: 15px;
        }
}


@media screen and (max-width: 1200px) {
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.7em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 90px;
        bottom: 15px;
    }
        .thai
        {
            top: 15px;
        }
}

/* --------------------------SCREEN 1024PX : IPad--------------------------- */

@media screen and (max-width: 1024px){
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.7em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 90px;
        bottom: 15px;
    }
        .thai
        {
            top: 15px;
        }
    }
/* --------------------------SCREEN 900PX :--------------------------- */

@media screen and (max-width: 900px){
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.8em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 47px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 80px;
        bottom: 15px;
    }
        .thai
        {
            top: 15px;
        }
}
/* --------------------------SCREEN 820PX : ipad mini--------------------------- */

@media screen and (max-width: 820px) {
        .wrapper {
            position: absolute;
            display: flex;
            width: 90%;
            height: calc(100vh - 80px);
            justify-content: center;
            align-items: center;
            padding: 0 10%;
            overflow: hidden;
            font-size: 13px;
        }
        .parallax
        {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        }
        .heads
        {
            text-transform: uppercase;
            display: block;
            font-size: 2.2em;
            font-weight: 900;
            width: 80%;
            height: 100%;
            bottom: 40px;
        }
        .text-title
        {
            color: #ffffff;
            font-weight: 1000;
            text-transform: uppercase;
            font-size: 38px;
            line-height: 0.90em;
            text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
            5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
        }
        .text-title span {
            display: block;
            position: relative;
            left: 50px;
            bottom: 15px;
        }
            .thai
            {
                top: 15px;
            }
    }

/* --------------------------SCREEN 768PX : ipad mini--------------------------- */

@media screen and (max-width: 768px){
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.2em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 37px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 50px;
        bottom: 15px;
    }
        .thai
        {
            top: 15px;
        }
}

/* --------------------------SCREEN 600PX : BIG Phone--------------------------- */


@media screen and (max-width: 600px){
    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.2em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 50px;
        bottom: 15px;
    }
        .thai
        {
            top: 15px;
        }
}
/* --------------------------SCREEN 500PX : BIG Phone--------------------------- */


@media screen and (max-width: 500px) {
    .sec {
        padding: 8%;
        font-size: 15px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    }
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.2em;
        font-weight: 900;
        width: 80%;
        height: 100%;
        bottom: 40px;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 38px;
        line-height: 0.90em;
        text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
        5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 50px;
        bottom: 55px;
    }
        .thai
        {
            bottom: 20px;
        }
    }
/* --------------------------SCREEN 480PX : BIG Phone--------------------------- */

@media screen and (max-width: 480px) {
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 120%;
    }   
    .heads
    {
        text-transform: uppercase;
        display: block;
        font-size: 2.2em;
        font-weight: 900;
        width:90%;
        height: 100%;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 38px;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 40px;
        bottom: 40px;
    }
        .thai
        {
            top: 8px;
        }
    }
/* --------------------------SCREEN 418PX : BIG Phone--------------------------- */


@media screen and (max-width: 418px) {
        .parallax
        {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 120%;
        }   

        .heads
        {
            font-size: 25px;
        }
        .text-title
    {
        color: #ffffff;
        font-weight: 1000;
        text-transform: uppercase;
        font-size: 32px;
    }
    .text-title span {
        display: block;
        position: relative;
        left: 30px;
        bottom: 35px;
    }
    }

/* ---------------------------SCREEN 360 PX : Phone ----------------------------- */


@media screen and (max-width: 360px) {
    .heads
    {
        font-size: 23px;
    }

    .text-title {
        font-size: 30px;
    }

    .text-title span {
        display: block;
        position: relative;
        left: 45px;
        bottom: 35px;
    }
    .thai
    {
        font-size: 13px;
    }

    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow-x: hidden;
    }   

}

/* ---------------------------SCREEN 320 PX : Phone ----------------------------- */

@media only screen and (max-width: 320px) {


    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow-x: hidden;
    }  

    .heads {
        width: 90%;
        font-size: 22px;
    }

    .lines
    {
        height: 180vh;
    }

    .line
    {
        height: 150vh;
        left: 40%;
    }
    .text-title
    {
        color: #ffffff;
        font-weight: 800;
        font-size: 28px;
        line-height: 0.90em;
        width: 100%;
      }
      .text-title span {
        display: block;
        position: relative;
        left: 30px;
        bottom: 35px;
    }
    .thai
    {
        font-size: 12px;
    }
}