@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:800,200');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@500&family=Righteous&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow: hidden;
}


body
{
    background-size: cover;
    background-position: center;
    width: 100% ;
    background-color: #161616;
    color: #2c2c2c;
}


/* html 
{
    overflow: none;
    height: 120vh;
    width: 100%;
    background: linear-gradient(45deg,#72b2b7,#ffffff,rgb(128, 158, 255));
    background-size: 200% 200%;
    animation: color 4s ease-in-out infinite;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150vh;
    width: 100vw;
    overflow: hidden;
}
.line {
    position: absolute;
    width: 2px;
    height: 115vh;
    bottom: 40vh;
    left: 75%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(33deg);
    box-shadow: 2px 2px 2px
    #00000059;
}
.line::after {
    content: '';
    display: block;
    position: absolute;
    height: 50vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgb(167, 255, 226) 0%, #00bcc9 50%, #4b1ffc 100%);
    animation: drop 4s 0s infinite;
    animation-fill-mode: forwards; 
    box-shadow: 1px 2px 4px
    #fc2dcf;
}
.line:nth-child(1) {
    margin-left: -10%;
}
.line:nth-child(1)::after {
    animation-delay: 2s;
}
.line:nth-child(3) {
    margin-left: 10%;
}
.line:nth-child(3)::after {
    animation-delay: 2.5s;
}
@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}





/*SIDEBAR*/

.side-bar{
    position: absolute;
    top: 0;
    left: -100%;
    width: 180px;
    height: 100vh;
    background: #ffffff;
    padding: 12px;
    box-shadow: -3px -3px 7px #e0ebff, 
                  3px 3px 5px #10ffc7,
                   -3px 7px #54545441,
                    inset 3px 3px 5px #b7dcdb;
    z-index: 1000;
    transition: all 1s ease;
    border-radius: 5px;
}
.side-bar .title 
{
    display: flex;
    justify-content: space-evenly;
}
.side-bar .title .logo 
{
    font-size: 40px;
    font-weight: 900;
    color: #272c3e;
    cursor: pointer;
    text-decoration: none;
    display: block;
    position: relative;
    font-family: 'Pixelify Sans';
}
.side-bar ul
{
    margin-top: 2px;
    list-style: none;
}
.side-bar ul a
{
    color: #2c313e;
    text-decoration: none;
    display: block;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 25px;
    background: #ffffff;
    border-radius: 6px;
    font-family: 'Mitr', sans-serif;
    box-shadow: -3px -3px 7px #ffffff,
                  3px 3px 5px #ffffffed;
    position: relative;
}
.side-bar ul i 
{
    margin-right: 10px;
}
.media-icons
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.media-icons a
{
    margin: 0 4px;
    font-size: 17px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    box-shadow: -3px -3px 7px #a4a4a4,
                 3px 3px 5px #40c4a0;
    position: relative;
}

.media-icons a:hover:before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #0cffce88,
                inset 3px 3px 5px #00c8cb92;
}
.side-bar ul a:hover:before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ffffff; 
}
.side-bar ul a:hover:before
{
    border-radius: 6px;
}
.side-bar ul a:hover
{
    color: #97b2c5;
}
.media-icons a:hover::before
{
    border-radius: 50%;
}
.media-icons a:nth-child(1)
{
    color: #2f78ff;
}
.media-icons a:nth-child(2)
{
    color: #b5165b;
}
.media-icons a:nth-child(3)
{
    color: #000000;
}
label
{
    font-size: 20px;
    color: #9b9b9b;
    box-shadow: -3px -3px 7px #08e6ba,
                 3px 3px 5px #0091ff;
    height: 37px;
    width: 39px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 1000;
}
.bars
{
    position: absolute;
    right: 15px;
    top: 15px;

}
label:hover
{
    box-shadow: inset -3px -3px 7px #373737,
                inset 3px 3px 5px #333333;
    color: #5fb7ff;
    transition: 0.5s ease;
}
#check
{
    display: none;
}
#check:checked ~ .side-bar
{
    left: 0;
}



#first
{
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    color: #4e4e4e75;
    font-size: 1.5em;
    font-weight: 600;
    top: 10vh;
    left: 10vh;
}

#second
{
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    color: #4e4e4e52;
    font-size: 1.3em;
    font-weight: 600;
    top: 70vh;
    left: 60vh;
}

#third
{
    position: absolute;
    font-family: 'Pixelify Sans';
    color: #4e4e4e4e;
    font-size: 1.5em;
    font-weight: 600;
    top: 180px;
    left: 80vh;
    overflow: hidden;
}


/*OOO*/

.parallax
{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    z-index: -1000;
}
#eiei
{
    top:50%;
    font-size: 20px;
    color: #112434;
    font-family: 'Mitr', sans-serif;
}

.wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

/* .wrapper::before {
    position: absolute;
    content: '';
    height: 250px;
    width: 250px;
    border-radius: 50%;
    right: 10%;
    top: 45%;
    background: linear-gradient(45deg, rgb(136, 130, 211), #21f38aed);
    animation: object1 7s linear infinite;
}
@keyframes  object1{
    50%{
        right: 8%;
        top: 34%;
    }
}

.wrapper::after {
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 5%;
    background: linear-gradient(45deg, rgba(224, 182, 204, 0.956), #11d1bb74);
    animation: object2 5s linear infinite;
}
@keyframes  object2{
    50%{
        left: 38%;
        top: 7%;
    }
} */


/* 
.abstract1 {
    position: absolute;
    height: 25%;
    width: 25%;
    left: 60%;
    top: 70%;
    animation: object1 7s linear infinite;
}
@keyframes  object1{
    50%{
        left: 55%;
        top: 65%;
    }
}

.abstract2 {
    position: absolute;
    height: 30%;
    width: 30%;
    left: 25%;
    top: 9%;
    animation: object2 5s linear infinite;
}
@keyframes  object2{
    50%{
        left: 26%;
        top: 7%;
    }
} */


/* .box
{
    z-index: -10;
    box-shadow: 0 0 18px #00e5ff,
    0 0 30px #39af7c;
} */

/* .box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 6px solid rgb(255, 65, 138);
    border-radius: 34% 66% 69% 31% / 30% 48% 52% 70% ;
    box-shadow: 0 0 50px#1c5996,
    0 0 50px #00fff7;
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00ffd9;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #04ffff;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00fffb;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00ffd5;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00ffd0;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00f2ff;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00ffe1;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
    box-shadow: 0 0 18px #1c5996,
    0 0 30px #00ffea;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
    box-shadow: 0 0 18px #000dff,
    0 0 30px #00f2ff;
}
.box div:nth-child(10){
    top: 20%;
    left: 70%;
    animation: animate 12s linear infinite;
    box-shadow: 0 0 18px #00fffb,
    0 0 30px #0055ff;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
} */




.cols {
    width: 100%;
}
.cols0{
    width: 1000%;
    z-index: 5;
}

.topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #ffffff;
}

.heads {
    text-transform: uppercase;
    display: block;
    font-size: 2.3em;
    font-weight: 900;
    width: 80%;
    background-image: linear-gradient(
        -180deg,
        #ffffff 0%,
        #606a8c 67%,
        #17172f 100%
      );
    background-clip: border-box;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.big 
{
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, -10deg);
}


.text-title
{
    color: #ffffff;
    font-weight: 850;
    text-transform: uppercase;
    font-size: clamp(2rem, 8vw, 4rem);
    line-height: 0.75em;
    text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff,
     5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
  }
.text-title span {
    display: block;
    position: relative;
    top: 20px;
    left: 100px;
}
.text-title span:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #6c63a7, -1px -1px 1px #c800ff, -2px 2px 1px #f700ff, 1px -1px 1px #ffffff;
    z-index: 1;
    font-family: "Exo 2", sans-serif;
}

/* .multiText {
    text-transform: uppercase;
    background-image: linear-gradient(
      -195deg,
      #4b4b4b 0%,
      #929292 50%,
      #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 45px;
} */

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.thai {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #838383;
    font-family: 'Mitr', sans-serif;}



/*----------Animation font before-------------*/


/* body {
  font-family: montserrat;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #000000;
  line-height: 1.5;
  color: #fff;
} */

.bg-text-container
 {
    overflow: hidden;
    transform: translateX(-10%);
  /* left: 30%; */
    position: relative;
    z-index: 999;
    width: 100%;
}
/* animation */
/* @keyframes text-scrolling {
  0% {
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
} */


.animate-text {
    animation: text-scrolling 18s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
    top: 60px;
    -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: transparent;
}
.animate-text.left {
    animation-direction: reverse;
    right: 800px;
    bottom: 765px;
}

.bg-text-container {
    left: 130px;
    /* top:600px; */
    position: relative;
  font-size: 40px;
  /* color: transparent; */
  text-transform: uppercase;
  line-height: 1;
  font-weight: 550;
  will-change: transform;
  height: 800px;
  color: #fff;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */


/* .hentai
{
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 
{
    background-image: url('hentai.svg');
} */

.sec
{
    position: relative;
    padding: 0;
    background: #16161600;
    height: 1000vh;
}

.sec h2
{
    width: 100%;
    font-size: 3em;
    color: #fff;
}

.sec p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: 'Mitr', sans-serif;
}
.sec h3
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p2
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: 'Mitr', sans-serif;  
}



/*Responsive*/



@media screen and (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}



@media screen and (max-width: 1600px) {
    .parallax
    {
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
    .side-bar
    {
        height: 90vh;
    }
}


@media screen and (max-width: 1180px) {
    .parallax
    {
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
    .side-bar
    {
        height: 90vh;
    }
}
@media screen and (max-width: 1024px){
    .parallax {
        height: 80vh;
        width: 105%;
    }
    .side-bar
    {
        height: 80vh;
    }

}
@media screen and (max-width: 820px) {
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 110%;
}
.side-bar
{
    height: 90vh;
}

}
@media screen and (max-width: 690px){

    .wrapper {
        position: absolute;
        display: flex;
        width: 90%;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        overflow: hidden;
        font-size: 13px;
    }
    .side-bar{
        width: 200px;
        height: 55vh;

    }


}

@media screen and (max-width: 500px) {
    .sec {
        padding: 8%;
        font-size: 15px;
    }
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    }
    .wrapper {
        font-size: 10px;
    }
    h1
    {
        font-size: 50px;
    }
    p
    {
        font-size: 15px;
    }
}
@media screen and (max-width: 428px) {
    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 120%;
    }   
    .side-bar
    {
        height: 70vh;
    }
}
@media screen and (max-width: 360px) {

    .parallax
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    overflow-x: hidden;
    }   

    .sec {
        font-size: 70%;
    }
    .wrapper {
        font-size: 8px;
    }
    h1
    {
        font-size: 40px;
    }
    p
    {
        font-size: 12px;
    }
    .wrapper::before {
        position: absolute;
        content: '';
        height: 150px;
        width: 150px;
        border-radius: 50%;
        right: 5%;
        top: 45%;
        background: linear-gradient(45deg, rgb(136, 130, 211), #21f38aed);
        animation: object1 7s linear infinite;
    }
    .side-bar{
        width: 180px;
        height: 65vh;
    }
}